.about-us {
  padding: $grid-gutter-width ($grid-gutter-width / 2);
  box-sizing: border-box;
  hyphens: auto;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: column;
    width: percentage(5/12);
    padding: ($grid-gutter-width / 2);
    padding-top: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.about-us__more-link {
  margin-top: auto;
}
