@mixin buttonColor($bgColor: $buttonColorDefault, $textColor: #fff) {

  color: $textColor;
  background-color: $bgColor;

  &:hover,
  &:focus {
    color: $textColor;
    background-color: mix(#fff, $bgColor, 10%);
    outline: none;
  }

  &:active {
    color: $textColor;
    background-color: mix(#000, $bgColor, 7%);
  }
}

@mixin createButton() {
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid transparent;
  text-align: center;
  font-family: $primary-font;
  font-size: $font-size--small;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.025em;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.button {
  @include createButton();
  @include buttonColor($accent-color, $white-color);
}
