.contacts {

}

.contacts__map {

}

.contacts__sections-list {

}

.contacts__section {

}

.contacts__section-head {

}

.contacts__section-caption {
  margin: 0;
}

.contacts__section-body {

}

.contacts__info-group {

}

.contacts__info {
  @include clear-list();

  margin-bottom: ($grid-gutter-width / 2);

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.contacts__info-item {

}
