.event {

}

.event__body {
  display: flex;
}

.event__date {
  flex-shrink: 0;
  align-self: flex-start;
  width: 60px;
  padding: 15px 10px;
  margin-right: $grid-gutter-width;
  font-size: $font-size--small;
  line-height: 1.2;
  overflow: hidden;
  border: 1.5px solid;
  text-align: center;
  box-sizing: border-box;
}

.event__day {
  font-size: $font-size--largest;
  color: $accent-color;
  font-weight: 900;
}

.event__month {

}
