/**
 *  Markup
 * <a href="#" class="hamburger-menu" id="trigger-mobile-menu">
      <span class="hamburger-menu__item hamburger-menu__item--top"></span>
      <span class="hamburger-menu__item hamburger-menu__item--middle"></span>
      <span class="hamburger-menu__item hamburger-menu__item--bottom"></span>
    </a>
 *
 */

.hamburger-menu {
  align-self: center;
  display: inline-block;
  position: relative;

  border: none;
  background: #fff;
  // padding: 0.8em;
  width: 30px;
  height: 30px;
  // padding: 5px;
  vertical-align: middle;
  outline: none;
  color: $base-color;

  appearance: none;
  transition: color 0.2s;
  // border-radius: 2px;

  &__item {
    position: absolute;
    left: 5px;
    // width: 100%;
    right: 5px;
    height: 2px;
    background-color: currentColor;
    transform-origin: 0% 50%;
    transition: transform 0.2s;
    border-radius: 2px;

    &--top {
      top: 6px;
      // Context
      .mm-opening & {
        width: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: translateY(0) translateX(-2px) rotateZ(-45deg) ;
      }
    }

    &--middle {
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &--bottom {
      bottom: 6px;
      // Context
      .mm-opening & {
        width: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: translateY(0) translateX(-2px) rotateZ(45deg) ;
      }
    }
  }

  &:hover,
  &:focus {
    outline: none;
    color: #444;
  }
}
