.tabs {

}

.tabs__menu {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  margin-bottom: ($grid-gutter-width / 1);
  user-select: none;
}

.tabs__menu-item {
  font-weight: 500;
  font-size: $font-size--smaller;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $md-width - 1) {
    flex-grow: 1;
  }
}

.tabs__menu-link {
  display: block;
  padding: 6px 8px;
  border-bottom: 4px solid $light-color;
  text-transform: uppercase;
  color: $muted-color;
  transition: $duration;
}

.active .tabs__menu-link {
  color: $link-color;
  border-bottom-color: $link-color;
  cursor: default;
}

.tabs__pane {
  padding-top: ($grid-gutter-width / 2);
  padding-bottom: ($grid-gutter-width / 2);
}

.tabs__pane > :first-child {
  margin-top: 0;
}

@media (min-width: $sm-width) {
  .tabs__menu-item {
    // float: left;
  }

  .tabs__menu-link {
    // min-width: 200px;
  }

}
